.main-box{
    height:100px;
    width:100%;
    margin:10px;
    border-radius:10px
}
#skyblue-box{
    background-color:#06d9f0;
}
#darkpink-box{
    background-color:#ce34ab;
}
#green-box{
    background-color:#589323;
}
#yellow-box{
    background-color:#d3e32b;
}
#darkblue-box{
    background-color:#012b2d;
}
#green-box{
    background-color:#12ac30;
}
#orange-box{
    background-color:#fea301;
}
#magenta-box{
    background-color:#d2035a;
}
#purple-box{
    background-color:#d40afb;
}
#lightblue-box{
    background-color:#8ff3c1;
}
